@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  font-size: 2vw;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    #ff9eb5 20%,
    #bb6ed3 40%,
    #87ceeb 70%,
    #00ffd0 100%
  );
  background-size: 200% 200%;
  animation: gradientMove 100s ease infinite;
}

#game-board {
  width: min(45vw, 80vh);
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

#hiddenBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn {
  all: unset;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:active {
  transform: scale(0.95);
}

/* GREEN BUTTON */
.btn-green {
  background-color: rgb(16, 187, 19);
  border-top-left-radius: 100%;
}
.btn-green:hover {
  background-color: rgb(15, 177, 18);
}
.btn-green.pressed {
  background-color: #00ff04;
  box-shadow: 0 0 30px #67d53c, 0 0 20px #67d53c, 0 0 50px #67d53c,
    0 0 90px #67d53c;
  z-index: 1;
}

/* RED BUTTON */
.btn-red {
  background-color: #ed3a3a;
  border-top-right-radius: 100%;
}
.btn-red:hover {
  background-color: #df3434;
}
.btn-red.pressed {
  background-color: #ff0000;
  box-shadow: 0 0 30px #d73b3b, 0 0 20px #d73b3b, 0 0 50px #d73b3b,
    0 0 90px #d73b3b;
  z-index: 1;
}

/* YELLOW BUTTON */
.btn-yellow {
  background-color: #eddc45;
  border-bottom-left-radius: 100%;
}
.btn-yellow:hover {
  background-color: #e2d028;
}
.btn-yellow.pressed {
  background-color: rgb(255, 238, 0);
  box-shadow: 0 0 30px #e2d028, 0 0 20px #e2d028, 0 0 50px #e2d028,
    0 0 90px #e2d028;
  z-index: 1;
}

/* BLUE BUTTON */
.btn-blue {
  background-color: #45c6ed;
  border-bottom-right-radius: 100%;
}
.btn-blue:hover {
  background-color: #3dbbe1;
}
.btn-blue.pressed {
  background-color: #00eaff;
  box-shadow: 0 0 30px #3dbbe1, 0 0 20px #3dbbe1, 0 0 50px #3dbbe1,
    0 0 90px #3dbbe1;
}

#menu {
  width: min(15vw, 30vh);
  aspect-ratio: 1 / 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  z-index: 2;
  background-color: rgb(0, 52, 91);
}

.score {
  background: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

span.material-icons {
  font-size: 1rem;
  color: gold;
}

#lbl-score {
  font-size: 1rem;
  color: white;
  margin: 0;
}

.replay {
  opacity: 0;
  position: absolute;
  font-size: 16px;
  padding: 10px 20px;
  transform: translateY(35px);
  transition: all 0.3s ease;
  background-color: #4e91d4;
  color: #fff;
  font-weight: bold;
  border: 2px solid #6a3d9a;
  border-radius: 12px;
  text-transform: uppercase;
  outline: none;
  font-family: "Press Start 2P", cursive;
}
.replay:hover {
  background: linear-gradient(45deg, #6a3d9a, #4e91d4);
  border-color: #6a3d9a;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.replay.show {
  opacity: 1;
  cursor: pointer;
}

#start {
  position: absolute;
  display: flex;
  z-index: 2;
}

.btn-start {
  padding: 15px 30px;
  background-color: #4e91d4;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #6a3d9a;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  font-family: "Press Start 2P", cursive;
  transition: all 0.2s ease-in-out;
}
.btn-start:hover {
  background: linear-gradient(45deg, #6a3d9a, #4e91d4);
  border-color: #6a3d9a;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.btn-start.hide {
  transform: translateY(-20px);
  opacity: 0;
}

#win-container {
  display: none;
  position: absolute;
  background-color: #a2d2ff;
  border: 2px solid #7a4dff;
  border-radius: 12px;
  padding: 30px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

#win-container h1 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: "Press Start 2P", cursive;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
